/* COMMON */
.body__container {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* BTN */
.btn {
  display: inline-flex;
  position: relative;
  height: 34px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  line-height: 1.5;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #65b836;
}

/* INPUT */
.input--text {
  height: 34px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

/* Vendor prefix(브라우저 업체별 접두어) */
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}
.input--text:-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-placeholder {
  color: #cacaca;
}

/* FLOAT CLAERFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

/* SUMMARY */
.summary {
}

.summary__title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 18px;
}

.summary__description {
  color: #767676;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
}

/* SECTION & INNER */
.section {
  position: relative;
}

.section .inner {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* HEADER */
header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

header .inner {
  height: 78px;
}

header .menu-group {
  display: flex;
  height: 100%;
  align-items: center;
}

header .logo {
  margin-right: 10px;
}

header .logo a {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/logo.svg");
  text-indent: -9999px;
}

header .logo a:hover {
  background: url("../img/logo_on.svg");
}

header .main-menu {
  display: flex;
}

header .main-menu li a {
  display: block;
  color: #3c4146;
  padding: 10px;
}

header .main-menu li a:hover {
  color: #4078c0;
}

header .sign-group {
  display: flex;
  height: 100%;
  align-items: center;
}

header .btn-group {
  order: 2;
  display: flex;
}

header .btn-group .sign-in {
  margin-right: 4px;
}

#search-form {
  order: 1;
  margin-right: 12px;
}

#search {
  width: 160px;
  font-size: 14px;
}

#search + [type="submit"] {
  display: none;
}

header .sub-menu {
  display: flex;
  margin-right: 10px;
}

header .sub-menu li a {
  display: block;
  color: #3c4146;
  font-size: 13px;
  padding: 8px;
}

header .sub-menu li a:hover {
  color: #4078c0;
}

/* VISUAL */
.section--visual {
  background-image: url("../img/bg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.section--visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.section--visual .inner {
  padding: 160px 0;
}

.section--visual .summary__title {
  color: #fff;
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}

.section--visual .summary__description {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}
